b {
    font-size: 18px;
}

pre {
    font-size: 14px;
}

a {
    color: #6687c4;
    text-decoration: none;
}

a:hover{
    color: #851e7f;
}

body {
    overflow:hidden;
}

#search-box {
    color: #DCDCDC;
    outline: none;
    font-size: 20px;
    margin: 1%;
    padding: 1% 2% 1% 2%;
    max-width: 50%;
    border-radius: 50000px;
    background-color: white;
    box-shadow: 0px 0px 20px #DCDCDC;
}

#info-div{
    width: 46%;
    height: 83vh;
    border: 0%;
    padding: 1%;
    margin: 1%;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 0px 0px 10px #DCDCDC;
    float: left;
}

#schedule-div{
    align: center;
    height: 86vh;
    width: 35%;
    border: 0%;
    padding: 0%;
    margin: 1%;
    background-color: black;
    border-radius: 3vh;
    box-shadow: 0px 0px 10px #DCDCDC;
    float: left;
    overflow: hidden;
    text-align: center;
}

#schedule{
    max-height:100%;
    max-width:100%;
}

#enter-div{
    width: 10%;
    height: 86vh;
    border: 0%;
    padding: 0%;
    margin: 1%;
    background-color: white;
    float: left;
}

#enter-card{
    margin: 0% 0% 9% 0%;
    padding: 0%;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 2.9vh;
    box-shadow: 0px 0px 10px #DCDCDC;
    text-align: center;
}

#enter-card:hover{
    background-color: blanchedalmond;
}

#enter-pic{
    max-width:90%;
    padding: 5% 0% 0% 0%;
    height: auto;
}

#enter-text{
    font-size: 20px;
    padding: 0% 0% 10% 0%;
    margin: 0%;
}