b {
    font-size: 2.8vh;
}

pre {
    font-size: 1.7vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-grid {
    padding: 2vh 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh 89vh;
    grid-row-gap: 2vh;
    grid-column-gap: 1vw;
    justify-content: space-between;
}

a {
    color: #6687c4;
    text-decoration: none;
}

a:hover{
    color: #851e7f;
}

#search-input {
    width: 100%;
    height: 100%;
    color: #DCDCDC;
    border-style: hidden;
    outline: none;
    font-size: 2vh;
    padding-left: 24px;
    max-width: 50%;
    border-radius: 50000vh;
    background-color: white;
    box-shadow: 0vh 0vh 1vh #DCDCDC;
}

#search-form{
    height: 100%;
    width: 100%;
}

#search-box{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 8;
}

#info-div{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 0%;
    padding: 2%;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 0vh 0vh 1vh #DCDCDC;
}

#schedule-div{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 8;
    border: 0%;
    padding: 0%;
    background-color: black;
    border-radius: 3vh;
    box-shadow: 0vh 0vh 1vh #DCDCDC;
    overflow: hidden;
    text-align: center;
}

#schedule{
    max-height:100%;
    max-width:100%;
}

#enter-div{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 9;
    display: grid;
    grid-row-gap: 1vh;
    height: 89vh;
    grid-template-rows: auto auto auto auto;
    border: 0%;
    padding: 0%;
    background-color: white;
}

#enter-card{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0%;
    background-color: white;
    border-radius: 2.9vh;
    box-shadow: 0vh 0vh 1vh #DCDCDC;
    text-align: center;
}

#enter-card:hover{
    background-color: blanchedalmond;
}

#enter-pic{
    padding: 0 0 1vh 0;
    margin: 0;
    max-width:90%;
    border-radius: 25%;
    height: auto;
}

#enter-text{
    padding: 0;
    margin: 0;
    font-size: 1.7vh;
}